.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.250s ease-out forwards;
}

.overlay.closing {
  animation: fadeOut 0.250s ease-out forwards;
}

.popup {
  background: var(--bg);
  color: var(--text);
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  animation: scaleIn 0.250s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.popup.closingPopup {
  animation: scaleOut 0.250s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
}

.languagePopup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.closeButton {
  position: relative;
  left: 95%;
  width: 25px;
  border: none;
  cursor: pointer;
  background: var(--bg);
  color: var(--text);
  padding: 0px;
}

.closeButton:hover {
  color: var(--popup-button-hoover);
}

.languagePopup h3 { margin: 0px; }

.languageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
}

.languageGrid button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.languageGrid button:hover {
  background: var(--popup-button-hoover);
}

.langName {
  font-weight: bold;
  font-size: 1rem;
  color: var(--text);
}

.langLocal {
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--popup-local-name);
}

.closeIcon {
  width: 25px;
  height: 25px;
  display: block;
  transition: transform 0.3s ease;
}

.closeButton:hover .closeIcon {
  transform: rotate(120deg); 
}
