:root {
  --bg: #ffffff;
  --menu-item-bg: #ffffff;
  --menu-item-text-hoover: #1f2937;
  --menu-item-underline: #1f2937;
  --text: #1f2937;
  --language-bg: #444444;
  --toggle-bg: #dcdcdc;
  --popup-bg: #ffffff;
  --popup-button-hoover: #eee;
  --popup-local-name: #9a9a9a;
}

html.dark {
  /* --bg: #111418; */
  --bg: #15202c;
  --linear-bg: linear-gradient(
      to bottom right,
      #15202c 30%,
      #3b1f4a 85%
    );
  --menu-item-text-hoover: #ffffff;
  --menu-item-underline: #ffffff;
  --text: #f0f2f4;
  --language-bg: #444444;
  --toggle-bg: #333;
  --popup-button-hoover: #333;
  --popup-local-name: #9a9a9a;
}
